@page
@model Portfolio2.Pages.Projects.Project1Model
@{
    ViewData["Title"] = "Binary Tree Nursery";
}

<h2>Binary Tree Nursery</h2>
<div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box img-one">
                        <img src="~/assets/nursery/all_products.PNG" />
                    </article>
                    <article class="tile is-child box img-two">
                        <img src="~/assets/nursery/basket.PNG" />
                    </article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child img-three box">
                        <img src="~/assets/nursery/checkout.PNG" />
                    </article>
                    <article class="tile is-child box img-four">
                        <img src="~/assets/nursery/product.PNG" />
                    </article>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child box img-five">
                        <img src="~/assets/nursery/code_snip_1.PNG" />
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child img-6 box">
                        <img src="~/assets/nursery/code_snip_2.PNG" />
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child img-seven box">
                        <p class="title">5</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="subtitle">Description</p>
                    <p>Full Feature E-Commerce Project witht he ability for a user to login, add items to a basket, and check out. Upon checkout the user recieves an email verifying their purchase. Admins have the ability to create new products and manage inventory.</p>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="subtitle">Languages and Technologies</p>
                <p> C#, Javascript, CSS</p>
                <p> ASP.NET Core, including Entity Framework Core and Idenity. Sendgrid API. Bulma CSS styling. </p>
            </article>
        </div>
    </div>
</div>

<div class="modal modal-one">
    <div class="modal-background"></div>
    <div class="modal-content">
        <img src="~/assets/nursery/all_products.PNG" />
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-two">
    <div class="modal-background"></div>
    <div class="modal-content">
        <img src="~/assets/nursery/basket.PNG" />
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-three">
    <div class="modal-background"></div>
    <div class="modal-content">
        <img src="~/assets/nursery/checkout.PNG" />
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-four">
    <div class="modal-background"></div>
    <div class="modal-content">
        <img src="~/assets/nursery/product.PNG" />
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-five">
    <div class="modal-background"></div>
    <div class="modal-content">
        <img src="~/assets/nursery/code_snip_1.PNG" />
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-six">
    <div class="modal-background"></div>
    <div class="modal-content">
        <img src="~/assets/nursery/code_snip_2.PNG" />
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-seven">
    <div class="modal-background"></div>
    <div class="modal-content">
        Some other stuff here!
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

