@page
@model Portfolio2.Pages.Projects.Project1Model
@{
    ViewData["Title"] = "Project1";
}

<h2>Project1</h2>
<div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box img-one">
                        <p class="title">1</p>
                    </article>
                    <article class="tile is-child box img-two">
                        <p class="title">2</p>
                    </article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child img-three box">
                        <p class="title">3</p>
                    </article>
                    <article class="tile is-child box img-four">
                        <p class="title">4</p>
                    </article>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child box img-five">
                        <p class="title">5</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child img-6 box">
                        <p class="title">5</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child img-seven box">
                        <p class="title">5</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="subtitle">Description</p>
                    <p> Place Holder</p>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="subtitle">Languages and Technologies</p>
                <p> Place holder </p>
            </article>
        </div>
    </div>
</div>

<div class="modal modal-one">
    <div class="modal-background"></div>
    <div class="modal-content">
        Some stuff here!
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-two">
    <div class="modal-background"></div>
    <div class="modal-content">
        Some other stuff here!
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-three">
    <div class="modal-background"></div>
    <div class="modal-content">
        Some stuff here!
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-four">
    <div class="modal-background"></div>
    <div class="modal-content">
        Some other stuff here!
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-five">
    <div class="modal-background"></div>
    <div class="modal-content">
        Some stuff here!
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-six">
    <div class="modal-background"></div>
    <div class="modal-content">
        Some other stuff here!
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-seven">
    <div class="modal-background"></div>
    <div class="modal-content">
        Some other stuff here!
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

