@page
@model Portfolio2.Pages.Projects.Project1Model
@{
    ViewData["Title"] = "Project1";
}

<h2>Project1</h2>
<div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <p class="title">1</p>
                    </article>
                    <article class="tile is-child box">
                        <p class="title">2</p>
                    </article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <p class="title">3</p>
                    </article>
                    <article class="tile is-child box">
                        <p class="title">4</p>
                    </article>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">5</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">5</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">5</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">8</p>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">9</p>
            </article>
        </div>
    </div>
</div>

