<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio2</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" integrity="sha256-ujE/ZUB6CMZmyJSgQjXGCF4sRRneOimQplBVLu8OU5w=" crossorigin="anonymous" />


</head>
<body>
    <header>
        <div id="title">
            <h1 class="title"> Clarice Costello </h1>
            <h3 class="subtitle"> C# & ASP.net || Javascript </h3>
        </div>
        <div id="nav-container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <h1 class="title is-1">*</h1>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="~/"> Home</a>
                        <a class="navbar-item" href="~/#about">About</a>
                        <a class="navbar-item" href="~/#technologies">Languages and Technologies</a>
                        <a class="navbar-item" href="~/#projects">Projects</a>
                        <a class="navbar-item" href="~/#background">Background and Education</a>
                        <a class="navbar-item" href="~/Contact">Contact</a>



                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="icons">
                                <a href="https://github.com/c-costello" target="_blank"><i class="fab fa-github-square"></i></a>
                                <a href="https://www.linkedin.com/in/clarice-costello/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="mailto:claricostello@outlook.com" target="_blank"><i class="fas fa-envelope-open-text"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="footer">
        <div id="footer-nav-container">
            <ul id="footer-list">
                <li><a href="https://github.com/c-costello" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/clarice-costello/" target="_blank">LinkedIn</a></li>
                <li><a href="mailto:claricostello@outlook.com" target="_blank">Email</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script src="~/js/Nav.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/modul.js"></script>
</body>
</html>
