main {
    padding-top: 75px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
}

.spacer {
    height: 75px;
}

.proj-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-cont {
    display: flex;
    justify-content: center;
}

h3{
    margin-bottom: 10px;
}

